// Definizioni delle variabili
$light-gray: #d3d3d3 !default;  // Definizione del colore light-gray

// Altre variabili (definisci queste se necessario)
$doc-font-size: 16px !default;
$doc-font-size-medium: $doc-font-size * 1.125 !default;
$doc-font-size-large: $doc-font-size * 1.25 !default;
$doc-font-size-x-large: $doc-font-size * 1.375 !default;

// Altri colori
$primary-color: #6f777d !default;
$gray: #7a8288 !default;
$dark-gray: mix(#000, $gray, 50%) !default;
$background-color: #fff !default;
$code-background-color: #fafafa !default;
$text-color: $dark-gray !default;
$muted-text-color: mix(#fff, $text-color, 20%) !default;
$border-color: #e6e6e6 !default;

// Font e tipografia
$sans-serif: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$global-font-family: $sans-serif !default;
$header-font-family: $sans-serif !default;

// Altri stili di tipografia
$type-size-1: 2.441em !default;
$type-size-2: 1.953em !default;
$type-size-3: 1.563em !default;
$type-size-4: 1.25em !default;
$type-size-5: 1em !default;
$type-size-6: 0.75em !default;
